<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xw.privatelib">

    <application>
        <activity android:name=".ui.ReportActivity"></activity>
        <activity android:name=".ui.ProtectWebActivity" />
        <activity android:name=".ui.WebViewActivity" />
    </application>

</manifest>